Css


body {
    background-color:lightblue;
    font-family: Arial, sans-serif;
}

h1 {
    color: darkred;
    text-align: center;
}

p {
    color: green;
    font-size: 20px;
}

/*Стили для меню */
ul {
    list-style-type: none;  
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;

    background-color: #333;}

    ul li {
        color: white;
        cursor: pointer;
    }

    ul li:hover {
        color: yellow;
    
    }

    button {
        background-color: green;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: darkgreen;
    }

form {
    background-color: #f4f4f4;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px
    rgba(0, 0, 0, 0.2);
    margin: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}


form button {
    background-color: blue;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
 
form button:hover {
    background-color: darkblue;
}
table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
}

th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: lightgray;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  color: #333;
}

img {
  border-radius: 50%;
  margin: 15px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  font-size: 18px;
}

audio, video {
  margin: 10px 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    background-color:#333;
    overflow: hidden;
    margin: 0;
}
nav li {
    display: inline;
}

nav a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
nav a:hover {
    background-color: #111;
} 

form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
}

label {
    font-weight: bold;
}

input, textarea, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:aquamarine
}